/*------------------------------------------------------------
Trademark Productions - DDJ 

version:	1.0
author:		Trademark Productions
email:		dean@tmprod.com
website:	www.drummondgeometry.com
-------------------------------------------------------------*/
@import url('reset.css');

/* =General/HTML Elements - 
-------------------------------------------------------------*/
.clear {
	clear:both
}

.info {
	font-style:italic;
	line-height: 20px;
}
	
.left {
	float: left;
	clear: right;
}

.right {
	float: right;
	clear: left;
}

img.right {
  	float: right;
  	clear: left;
  	margin: 5px 0 5px 5px;
}

img.left {
  	float: left;
  	clear: right;
  	margin: 5px 5px 5px 0;
}
/*
body { 
	margin: 0 auto;
	background-color: #4f789f;
	text-align: center;
	font: 62.5% Arial, Helvetica, sans-serif;
	color:#036;
}*/
body { 
	margin: 0 auto;
	background-color: #4f789f;
	text-align: center;
	font: 12px Arial, Helvetica, sans-serif;
	color:#036;
}

/* =Typography
-------------------------------------------------------------*/
p, li {
	text-align: left;
	font-size: 120%;
	margin: 1em 0;
	line-height: 1.3em;
}

p.sectionDesc {
	font: 14px Arial, Helvetica, sans-serif;
	color: #036;
	font-weight: bold;
	margin: 0;
	margin: -16px 0 5px 0px;
}

div#mainRight p.sectionDesc {
	text-align: center;
}

.darkblue {
	color: #036;
}

.lightblue {
	color: #4f789f;
}

.red {
	color: #f00;
}

.orange {
	color: #f60;
}

.teal {
	color: #0fb3f0;
}

.green {
	color: #00a651;
}

.darkred {
	color: #B90721;
}

.bodytext {
	color:#036;
	line-height: 20px;
	margin: 10px 20px 10px 10px;
}

.bodytextbold {
	color:#036;
	line-height: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

.bodytextwhite {
	color:#fff;
}

.subheader {
	display:block;
	font: 14px Arial, Helvetica, sans-serif;
	color: #036;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	margin: 10px 0 5px 0;
}

/* =Headings
-------------------------------------------------------------*/
h1, h2, h3, h4 {
	font-family: Times, serif;
	color: #535353;
	margin: .5em 0;
}

h1 {
	font-size: 24px;
	clear:both;
}

h2 {
	font-size: 28px;
	text-transform: uppercase;
	clear:both;
}

h2.alignright {
	text-align: right;
	padding-right: 15px;
}

div#mainRight h2 {
	text-align: left;
}

h3 {
	font-size: 18px;
	/*color: #4f789f;*/
	color:#535353;
}

h4 {
	font-size: 16px;
	color: #036;
}

h4.infobox{
	color: #535353;
}

h5 {
	font-size: 18px;
	color: #036;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;
}

.borderTop{
	padding-top:10px; 
	margin-right:20px; 
	border-top:1px solid #333;
}

.borderBottom{
	padding-top:10px; 
	margin-right:20px; 
	border-bottom:1px solid #333;
}

/* =Links
-------------------------------------------------------------*/
a, a:visited {
	color: #46a;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #036;
}

a.more {
	display: block;
	float: right;
	background: url('/images/more-button.gif') no-repeat right;
	width: 100%;
	text-decoration: none;
	margin: 10px;
	height: 22px;
}
/* =Layout
-------------------------------------------------------------*/
div {
	float: left;
} 

div#wrapper {
	width: 800px;
	margin: 0 auto;
	float: none;
}

div#container{
	width: 800px;
	text-align: left;
	border-left: 1px solid #036;
	position: relative;
	background-image:url(../images/container-shadow.png);
	background-color:#4f789f;
}

div#banner {
	width: 768px;
	height: 108px;
	background: url('/images/banner-home2.jpg') no-repeat top center;
}
/*
div#bannerhome {
	width: 768px;
	height: 108px;
	background: url('/images/banner-home.jpg') no-repeat top center;
}
*/
div#bannerlearning {
	width: 768px;
	height: 108px;
	background: url('/images/banner-learning-center.jpg') no-repeat top center;
}

div#content {
	width: 768px;
	background: url('/images/content-home2.jpg') repeat-y top left;
}

div#contenthome {
	width: 768px;
	background: url('/images/content-home2.jpg') repeat-y top left;
}

div#form {
 width:600px;
}

div#form .label {
	width:60px;
	float:left;
	color:#036;
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}

div#form .labelLong {
	width:100px;
	float:left;
	color:#036;
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
}

div#form .field {
	width:250px;
	float:left;
	margin-bottom:10px;	
}

div#sidebar {
	width: 190px;
	height:100px;
}

div#main {
	width: 760px;
	padding: 0 10px 20px;
	
}

div#mainLesson {
	border-left:1px dashed #000033;
	float:right;
	width: 510px;
	padding: 0 10px 20px 20px;
}

div#main_black {
	background-color:#000;
	width: 558px;
	padding: 0 10px;
}

div#mainLeft {
	width: 370px;
	padding: 5px;
	border-right: 5px solid #ccd5e7;
	float: left;
}

div#mainRight {
	width: 360px;
	float: left;
	padding: 5px;
}

div#footer {
	width: 768px;
	height: 80px;
	background: #327ebe url('/images/footer-bg.gif') repeat-x top left;
	position: relative;
	font-size: 10px;
	border-top:3px solid #999;
	border-bottom:1px solid #036;
}

dl.contents {
	margin-top: 10px;
	margin-left:30px;
	width:470px;
	font-size:12px;
	
}

dl.contents dt{
	width:75px;
	float:left;
	text-align:right;
	padding-right:20px;
}

dl.contents dd{
	width:370px;
	float:left;
	margin-bottom:10px;
	line-height: 120%;
}
/* =Branding/Banner/Masthead Styling
-------------------------------------------------------------*/
a#homeLink {
	display: block;
	position: absolute;
	width: 300px;
	height: 50px;
	top: 18px;
	left: 14px;
}

a#homeLink2 {
	display: block;
	background-image:url(../images/home.gif);
	position: absolute;
	width: 19px;
	height: 19px;
	top: 60px;
	left: 745px;
}

form#search {
	position: absolute;
	width: 200px;
	left: 500px;
	top: 20px;
}
/* =Main Content Styles
-------------------------------------------------------------*/
div#mainLeft ul, div#mainRight ul {
	margin-left: 5px;
}

.indent {
	margin-left:30px;
	line-height:1.3em;
}
.indent li a {
	font-size: 12px;
}
/* =Secondary Content Styles
-------------------------------------------------------------*/

/* =Lesson Sidebar Content Styles
-------------------------------------------------------------*/
div#lesson-sidebar {
	float:left;
	width:180px;
	padding-left: 10px;
}

div#lesson-sidebar  ul li {
	font-size:14px;
	margin-bottom: 15px;
}

div#lesson-sidebar  ul li a, div#lesson-sidebar  ul li a:visited, div#lesson-sidebar  ul li a:hover {
	color:#036;
	text-decoration:none;
} 

div#lesson-sidebar  ul li a:hover {
	text-decoration: underline;
	/*
	color: #4f789f;
	background-color: #fff;
	border-top: 1px solid #036;
	border-bottom: 1px solid #036;
	width:190px;*/
}
div#lesson-sidebar .lesson,  div#lesson-sidebar .sublesson {
	display:none;
	position: absolute;	
}

div#lesson-sidebar .lesson li {
	font-size:13px;
	text-indent: 15px;
	margin-bottom: 0px;
}

div#lesson-sidebar .sublesson {
	margin-bottom: 10px;
}

div#lesson-sidebar .sublesson li {
	font-size:11px;
	text-indent: 30px;
	margin-bottom: 0px;
}

div#lesson-sidebar .lesson a,  div#lesson-sidebar .lesson a {
	color:#036;
	text-decoration: none;
}

div#1esson-sidebar .lesson a:hover, div#lesson-sidebar .lesson a:hover {
	text-decoration: underline;
	/*
	color: #4f789f;
	background-color: #fff;
	border-top: 1px solid #036;
	border-bottom: 1px solid #036;
	width:190px;*/
}

/* =Sidebar Content Styles
-------------------------------------------------------------*/
div#sidebar h4 {
	text-align: center;
	border-bottom: 1px solid #036;
	padding: 5px 0;
	margin-top: 0;
}

/* =Footer Styles
-------------------------------------------------------------*/
p#copyright {
	text-align: center;
	color: #fff;
	clear:both;
	bottom: 5px;
	right: 5px;
}

/* =Main Navigation Styles
-------------------------------------------------------------*/
ul#bannerNav {
	height: 28px;
	background: #036 url('/images/banner-nav-bg.gif') repeat-x top left;
	width: 768px;
	position: absolute;
	top: 80px;
	left: 0;
	border-bottom:3px solid #999;
}

ul#bannerNav li {
	float: left;
	/*background: url('/images/banner-nav-li-bg.gif') no-repeat right top;*/
	margin: 0;
}

ul#bannerNav li.last {
	background: none;
	padding-right: 0;
}

ul#bannerNav li a, ul#bannerNav li a:visited, ul#bannerNav li a:hover {
	display: block;
	padding: 9px 21px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

ul#bannerNav li a:hover {
	text-decoration: underline;
}

ul#sidebarNav li {
	font-size: 14px;
}

ul#sidebarNav li a {
	text-decoration: none;
	color: #036;
	display: block;
	padding: 5px 0 5px 25px;
	border: 1px solid transparent;
}

ul#sidebarNav li a:hover {
	text-decoration: underline;
	color: #4f789f;
	background-color: #fff;
	border-top: 1px solid #036;
	border-bottom: 1px solid #036;
	width: 166px;	
}

ul#sidebarNav li a.current, ul#sidebarNav li a.current:hover, ul#sidebarNav li a.current:visited {
	color: #4f789f;
	background: #fff url(/images/sidebar-current-bg.jpg) no-repeat 6px;
	border-top: 1px solid #036;
	border-bottom: 1px solid #036;
	width: 164px;
}

ul#sidebarNav li ul.sidebarSubNav {
	text-indent: 20px;
}

ul#sidebarNav li ul.sidebarSubNav li {
	margin: 0;
}

ul#sidebarNav li ul.sidebarSubNav li a, ul#sidebarNav li ul.sidebarSubNav li a:visited {
	font-size: 12px;
}

/* =Secondary Navigation Styles
-------------------------------------------------------------*/
ul#breadcrumb {
	border-bottom: 1px solid #c9e5fc;
	/*width: 548px;*/
	width:80%;
	float: left;
	margin-bottom: 10px;
}

ul#breadcrumb li {
	float: left;
	padding: 6px 5px 6px 0;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #4f789f;
	margin: 0;
	position: relative;
}

ul#breadcrumb li a, ul#breadcrumb li a:visited {
	color: #4f789f;
	text-decoration: none;
}

ul#breadcrumb li a:hover {
	color: #333;
	text-decoration: underline;
}

ul#footerNav {
	width:480px;
	margin: 0 auto;
	text-align: center;
}

ul#footerNav li {
	float: left;
	color: #fff;
	padding: 5px;
}

ul#footerNav li a, ul#footerNav li a:visited {
	color: #fff;
	text-decoration: none;
}

ul#footerNav li a:hover {
	text-decoration: underline;
	color: #fff;
}

/* =Form Styles
-------------------------------------------------------------*/
#reg fieldset  {
	border:1px solid #ccc;
	background-color: #ededed;
	padding:10px 0 10px 10px;
	margin-top:10px;
	width:350px;
}
	
fieldset legend {
	color: #f03000;
	font-size: 14px;
	font-weight:bold;
}
	
fieldset label {
	color:#000;
	font-size:11px;
	font-weight:bold;
}
	
fieldset input, fieldset select {
	width:160px;
}
	
fieldset select {
	width:160px;
}
		
fieldset textarea {
	width:95%;
	height:60px;
	margin:10px 0;
}
	
fieldset input.submit {
	background:#003366 url(../images/banner-nav-bg.gif) repeat-x scroll left top;
	border:none;
	width:90px;
	height:18px;
	color:#fff;
}

a .submit{
	background:#003366 url(../images/banner-nav-bg.gif) repeat-x scroll left top;
	border:none;
	width:90px;
	height:18px;
	color:#fff;
}

fieldset td {
	vertical-align: middle;
}

.regrow{
	clear:both;
	margin:5px;
}

.regcol1{
	clear:both;
	float:left;
	width:160px;
	padding-right:10px;
}

.regcol2{
	float:left;
	width:160px;
}


.submit{
	background:#003366 url(../images/banner-nav-bg.gif) repeat-x scroll left top;
	border:none;
	width:90px;
	height:18px;
	color:#fff;
}

/* =Table Styles
-------------------------------------------------------------*/


/* =Miscellaneous Styles
-------------------------------------------------------------*/

.box{
	width:237px; 
	height:186px; 
	background-image:url(../images/square_bg.gif); 
	text-align:center; 
	margin-right:10px; 
	float:left;
}

.infobox{
	 margin-left:10px; 
	 font-family:'Times New Roman', Times, serif; 
	 font-size:22px;
}

.infocontent{
	width:210px;
	margin-left:10px;
	margin-top:-5px;
	font-size:12px;
	height:110px;
}

.linkrow{
	text-align:center;
}

.fullCol{
	margin-left:10px; 
	width:95%;
}

.listArea {
	width:520px;
}

.listHead {
	clear:both;
	float:left;
	padding-top:10px;
	font-size:14px;
	border-bottom:1px solid #ededed;
	width:510px;
}

.listRow{
	clear:both;
	font-size:12px;
	padding-top:10px;
}

.listCol {
	float:left;
	width:240px;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:5px;
	background-color:#eff2f7;
}

.listCol2 {
	float:left;
	width:500px;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:5px;
	background-color:#eff2f7;
}

.vidCol {
	float:left;
}

.vidCol ul{
	background-color:#eff2f7;
	font-size:11px;
	padding:3px 15px 3px 5px;
}

.vidColLeft {
	float:left; 
	padding-right:20px;
}

.vidColRight {
	float:left;
	padding-left:20px; 
	border-left:1px dashed black;
}

#sample {
	width:680px;
	height:400px;
	margin-left:20px;
	border:1px solid #ededed;
}

/* =BANNER.CSS
-------------------------------------------------------------*/

#bannerNav .submenu {
	display:none;
	position:absolute;
}
#bannerNav .submenu li a, #bannerNav .submenu li a:visited, #bannerNav .submenu li a:hover {
	display:block;
	width:100px;
	background-color:#333333;
	border-left:1px solid #ccc;
	font-size:12px;
	margin:1px 0 0 -10px;
}
#bannerNav .menu {
	border-right:1px solid #467099;
	height:24px;
	float: left;
	margin: 0;
	
}
#bannerNav li:hover ul {
	display:block;
	padding:1px;
	margin-left:10px;
}
#bannerNav ul {
	width:100px;
	float:left;
	margin:0px;
	list-style:none;
}


.divTableHead {
	width:500px; 
	border:1px solid black; 
	padding-top:20px; 
	padding-bottom:20px; 
	text-align:center;
}

.divTableRow {
	clear:both;
	float:left;
}

.divTableRowL {
	float:left; 
	width:240px; 
	min-height:100px; 
	padding:5px; 
	border-left:1px solid black; 
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.divTableRowR {
	float:left; 
	width:239px; 
	min-height:100px; 
	padding:5px; 
	border-right:1px solid black;
	border-bottom:1px solid black;
}

/* =Print Styles
-------------------------------------------------------------*/
@media print { 

}