@charset "utf-8";
/* CSS Document */
#bannerNav .submenu {
	display:none;
	position:absolute;
}
#bannerNav .submenu li a, #bannerNav .submenu li a:visited, #bannerNav .submenu li a:hover {
	display:block;
	width:100px;
	background-color:#333333;
	font-size:12px;
	margin:-5px 0 0 -10px;
}
#bannerNav .menu {
	float: left;
	margin: 0;
	
}
#bannerNav li:hover ul {
	display:block;
	padding:1px;
	margin-left:10px;
}
#bannerNav ul {
	width:100px;
	float:left;
	margin:0px;
	list-style:none;
}